<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a class="list-group-item list-group-item-action"
      [class.active]="!category"
      routerLink="/"
      [queryParams]=""
      >
      All Categories</a>
      <a *ngFor="let cat of categories$ | async" 
      class="list-group-item list-group-item-action"
      routerLink="/"
      [queryParams]='{category : cat.$key }'
      [class.active] ="category === cat.$key"
      >
      
      {{ cat.name}}</a>
    </div>
  </div>
  <div class="col">
      <div class="row">
          <ng-container *ngFor="let product of filteredProducts; let i = index">
              <div class="col">
                  <div class="card" style="width: 15rem;">
                    <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
                    <div class="card-block">
                      <h4 class="card-title">{{product.title}}</h4>
                      <p class="card-text"> {{ product.price | currency: 'USD':true }}</p>
                      <a href="#" class="btn btn-primary"> Add to Cart </a>
                    </div>
                  </div>
                </div>
                <div *ngIf=" (i+1) % 2 === 0" class="w-100"></div>
          </ng-container>
        </div>
  </div>
</div>

